﻿@model AdminWeb.Models.LoginModel


@{
    ViewBag.Title = "AdminPage";

}

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Age)
                    @Html.ValidationMessageFor(model => model.Age)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Зарегистрировать" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

    <!DOCTYPE html>
    <html>
    <head>
        <title>Авторизция</title>
        <style type="text/css">
            .login {
                width: 200px;
                background: #ffffff;
                padding: 6px;
                margin-left: 93.5px;
                margin-bottom: 10px;
                border: solid 1px #b3b3b3;
                border-radius: 3px;
                color: #333333;
                font-family: Verdana;
                font-size: 14px;
                transition-property: border;
                transition-delay: 100ms;
                outline: none;
            }

                .login:hover {
                    border: solid 1px #3aaaf5f3;
                }

                .login:focus {
                    border: solid 1px #3aaaf5f3;
                }

            .button {
                width: 60px;
                background: #3aaaf5f3;
                padding: 5px;
                margin-left: 170px;
                margin-bottom: 10px;
                border: solid 0px #b3b3b3;
                border-radius: 3px;
                box-shadow: 0px 3px 2px 0px #aaaaaa;
                text-shadow: 0.5px 1px 1px #999999;
                transition-property: box-shadow, text-shadow, background;
                transition-duration: 100ms;
                outline: none;
            }

                .button:active {
                    text-shadow: 0px 0px 0px #999999;
                    box-shadow: 0px 0px 0px 0px #666666;
                }

                .button:hover {
                    background: #64c0fdf3;
                }

            .box {
                width: 400px;
                height: 225px;
                background: #ffffff;
                border-radius: 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }

            .pate {
                position: relative;
                margin-left: 60.8px;
                margin-block-end: 25px;
                font-style: normal;
                font-size: 20px;
                font-family: Arial;
                text-shadow: 1px 1px 0px #cccccc;
            }
        </style>

    </head>

    <body>
        <div class="box">
            <p class="pate">Авторизация администратора</p>
            @using (Html.BeginForm("Login","Account"))
            {
                @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)
                <input class="login" tabindex="1"
                       style="color:#333333" type="text"
                       name="login" title="Введите логин"
                       placeholder="login" value=@Model.Login><br>

                <input class="login" tabindex="2"
                       style="color:#333333" type="password"
                       name="password" title="Введите пароль"
                       placeholder="password" value=@Model.Password><br>
                <input class="button" name="go"
                       style="margin-top: 15px; color: #ffffff; font-size: 14px; font-family: Verdana"
                       tabindex="3" value="Вход" type="submit">
            
            }
        </div>

    </body>
</html>