﻿@model AdminWeb.Models.ResultModel
@{
    ViewBag.Title = "ResultView";

}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="refresh" content="5;URL=@Url.Action("Admin","Account")" />
    <title>ResultView</title>
    <style>
        .label {
            font-family: Verdana;
            font-size: 18px;
            text-shadow: 0.5px 1px 1px #999999;            
        }
        .div {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div class="div">
        <label class="label">@Model.Text</label>
    </div>
</body>
</html>