﻿@using AdminWeb.Models
@model System.Collections.ObjectModel.ObservableCollection<AdminWeb.Models.ImageModels>

@foreach (ImageModels models in Model)
{
    <div class="models" style="float: left; border: 2px #666666 solid; border-radius: 5px; margin: 5px">
        <img class="buttonclose" style="height: 20px; width: 20px; float: right; margin: 2px" src="~/Icons/x-button.png"/>
        <img style="height: 150px; width: 200px; float: left;" src="@models.Path"/>
        <br/>
        <text class="namemodel" style="margin: 2px">@models.Name</text>
    </div>
}
