﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Models</title>
</head>
<header>
    <h2>Выберите типы оборудования</h2>
</header>
<footer>
    @using (Ajax.BeginForm("CheckFiles", "Images", new AjaxOptions { UpdateTargetId = "check" }))
    {
        <div id="main">

            <input class="checkboxtype" type="radio" name="IS" value="ИНТЕРАКТИВНЫЕ СТОЛЫ" />
            <label>Столы</label>


            <input class="checkboxtype" type="radio" name="IP" value="ИНТЕРАКТИВНЫЕ ПАНЕЛИ" />
            <label>Панели</label>


            <input class="checkboxtype" type="radio" name="SK" value="СЕНСОРНЫЕ КИОСКИ" />
            <label>Киоски</label>

            <input class="checkboxtype" type="radio" name="ST" value="СЕНСОРНЫЕ ТЕРМИНАЛЫ" />
            <label>Терминалы</label>

            <input class="checkboxtype" type="radio" name="ss" value="ВИРТУАЛЬНЫЙ ПРОМОУТЕР" />
            <label>Столы</label>

            <input class="checkboxtype" type="radio" name="sq" value="ГОЛОГРАФИЧЕСКАЯ ПИРАМИДА" />
            <label>Панели</label>


            <input class="checkboxtype" type="radio" name="se" value="ГОЛОГРАФИЧЕСКИЙ ВЕНТИЛЯТОР" />
            <label>Киоски</label>

            <input class="checkboxtype" type="radio" name="st" value="ГОЛОГРАФИЧЕСКИЙ КУБ" />
            <label>Терминалы</label>

            <input type="hidden" name="folder" />
            <input type="submit" hidden />
        </div>

    }
    @using (Ajax.BeginForm("DeleteFile", "Images", new AjaxOptions { UpdateTargetId = "check" }))
    {
        <input type="hidden" id="fdd" name="folder" />
        <input type="hidden" id="nameimage" name="name" />
        <input type="submit" id="kkk" hidden />
    }
    <button style="background: #ff1111" id="refresh">ОБНОВИТЬ</button>

</footer>
<body>
<div id="check"></div>

@Scripts.Render("~/scripts/jquery-3.3.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
<script>
    $(function() {
        $(document).on('change',
            '.checkboxtype',
            function() {
                $(this).parent().children('input:hidden').val($(this).val());
                $('#fdd').val($(this).val());
                $(this).parent().children('input:submit').click();
            });
        $(document).on('click',
            '.buttonclose',
            function() {
                $('#nameimage').val($(this).parent().children('input:text').text());
                $('#kkk').click();
            });
    });
   
        </script>
</body>
</html>
