﻿@using AdminWeb.Controllers
@using AdminWeb.Models


@{
    ViewBag.Title = "AdminPage";
}



<!DOCTYPE html>
<html>
<head>
    <title>Авторизция</title>
   
    <style type="text/css">
        .login {
            width: 200px;
            background: #ffffff;
            padding: 6px;
            margin-bottom: 10px;
            border: solid 1px #b3b3b3;
            border-radius: 3px;
            font-family: Verdana;
            font-size: 14px;
            transition-property: border;
            transition-delay: 100ms;
            outline: none;
        }

            .login:hover {
                border: solid 1px #3aaaf5f3;
            }

            .login:focus {
                border: solid 1px #3aaaf5f3;
            }

        .button {
            background: #3aaaf5f3;
            padding: 8px;
            border: solid 0px #b3b3b3;
            border-radius: 3px;
            box-shadow: 0px 3px 2px 0px #aaaaaa;
            text-shadow: 0.5px 1px 1px #999999;
            transition-property: box-shadow, text-shadow, background;
            transition-duration: 100ms;
            outline: none;
        }

            .button:active {
                text-shadow: 0px 0px 0px #999999;
                box-shadow: 0px 0px 0px 0px #666666;
            }

            .button:disabled {
                background: #666666;
            }

            .button:hover {
                background: #64c0fdf3;
            }

        .box {
            width: 400px;
            height: 225px;
            background: #ffffff;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        .pate {
            position: relative;
            margin-left: 33%;
            font-style: normal;
            font-size: 20px;
            font-family: Arial;
            text-shadow: 1px 1px 0px #cccccc;
        }

        #userelement {
            margin-top: 0.5%;
            margin-bottom: 0.5%;
            margin-right: 1%;
            margin-left: 1%;
        }

        text {
            font-family: Veranda;
            font-size: 14px;
            text-align: center;
        }
    </style>

</head>

<body>
    <div style="min-height: 500px; position: absolute; width: 650px; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); ">
        <text class="pate">Список пользователей</text>
        <br />
        <div style="height: 500px; border:2px solid #0080ff; border-radius: 3px; margin-top: 2%; overflow-y: scroll">

            @using (UserContext db = new UserContext())

            {
                foreach (var xModel in db.UserModels)
                {

                    using (Html.BeginForm("UserAction", "Account", xModel))
                    {
                        <div id="userelement">
                            <text name="Name">@xModel.Name</text>
                            <text name="Surname">@xModel.Surname</text>
                            <text name="Position">@xModel.Position</text>
                            <input name="action" style="float: right;" class="button" type="submit" value="Delete" title="Удалить пользователя" />
                            <input name="action" style="float: right;" class="button" type="submit" value="Update" title="Редактировать пользователя" />
                            <input name="action" style="float: right;" class="button" type="submit" disabled="@(!xModel.Is_active)" readonly="@(!xModel.Is_active)" value="Kick" title="Отключить пользователя" />
                        </div><br />
                    }
                }

            }
        </div>
        <div style="margin-top: 10px; float: left">
            @using (Html.BeginForm("CreateUser", "Account"))
            {
                <input type="submit" class="button" value="New User" title="Добавить нового пользователя" />
            }
        </div>
        <div style="float: right; margin-top: 10px">
            @using (Html.BeginForm("Admin", "Account"))
            {
                <input type="submit" class="button" value="Refresh" title="Обновить список" />
            }
        </div>
        <div style="float: right; margin-top: 10px; margin-right: 10px">
            @using (Html.BeginForm("Tables", "Files"))
            {
                <input type="submit" class="button" value="Change tables" title="Работа с таблицами" />
            }
        </div>
    </div>
<div style="float: right; margin-top: 5%; margin-right: 5%">
    @using (Html.BeginForm("Logoff", "Account"))
    {
        <input type="submit" class="button" value="LogOut" title="Выйти из аккаунта" style="float:right" />
    }
    <div>
        @using (Ajax.BeginForm("SetDollar", "Files", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <input type="number" class="login" name="dollar" value="@AdminWeb.Controllers.Getter.Dollar()" title="Курс доллара"/>
            <input type="submit" class="button" value="Изменить курс" />
        }
        <br />
        <div id="results">Изменено: @AdminWeb.Controllers.Getter.Time()</div>

    </div>
</div>
@Scripts.Render("~/scripts/jquery-3.3.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</body>
</html>
