﻿
@model AdminWeb.Models.RegisterModel

@{
    ViewBag.Title = "CreateUser";
}

<!DOCTYPE html>
<html>
<head>
    <title>Авторизция</title>
    <style type="text/css">
        .login {
            width: 200px;
            background: #ffffff;
            padding: 6px;
            margin-left: 93.5px;
            margin-bottom: 10px;
            border: solid 1px #b3b3b3;
            border-radius: 3px;
            font-family: Verdana;
            font-size: 14px;
            transition-property: border;
            transition-delay: 100ms;
            outline: none;
        }

            .login:hover {
                border: solid 1px #3aaaf5f3;
            }

            .login:focus {
                border: solid 1px #3aaaf5f3;
            }

        .button {
            width: 60px;
            background: #3aaaf5f3;
            padding: 5px;
            margin-left: 170px;
            margin-bottom: 10px;
            border: solid 0px #b3b3b3;
            border-radius: 3px;
            box-shadow: 0px 3px 2px 0px #aaaaaa;
            text-shadow: 0.5px 1px 1px #999999;
            transition-property: box-shadow, text-shadow, background;
            transition-duration: 100ms;
            outline: none;
        }

            .button:active {
                text-shadow: 0px 0px 0px #999999;
                box-shadow: 0px 0px 0px 0px #666666;
            }

            .button:hover {
                background: #64c0fdf3;
            }

        .box {
            width: 400px;
            height: 225px;
            background: #ffffff;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        .pate {
            position: relative;
            margin-left: 93.5px;
            font-style: normal;
            font-size: 20px;
            font-family: Arial;
            text-shadow: 1px 1px 0px #cccccc;
        }

        #userelement {
            margin-top: 0.5%;
            margin-bottom: 0.5%;
            margin-right: 1%;
            margin-left: 1%;
        }

        text {
            font-family: Veranda;
            font-size: 14px;
            text-align: center;
        }
    </style>

</head>

<body>
    
<div style="position: absolute; top: 50%;left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">
    <text class="pate">Пользователь</text>
    <br />
    @using (Html.BeginForm("Register", "Account", Model))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        <input class="login" tabindex="1"
               style="color: #333333;" type="text"
               name="login" title="Введите логин"
               placeholder="login" required
               value=@Model.Login><br>

        <input class="login" tabindex="2"
               style="color:#333333" type="password"
               name="password" title="Введите пароль"
               placeholder="password" required
               value=@Model.Password><br>

        <input class="login" tabindex="3"
               style="color:#333333" type="text"
               name="name" title="Введите имя пользователя"
               placeholder="name" required
               value=@Model.Name><br>

        <input class="login" tabindex="4"
               style="color:#333333" type="text"
               name="surname" title="Введите фамилию пользователя"
               placeholder="surname" required
               value=@Model.Surname><br>

        <input class="login" tabindex="5"
               style="color:#333333" type="text"
               name="telefon_number" title="Введите номер телефона"
               placeholder="phone" required
               value=@(Model.Telefon_number)><br>
        <input class="login" tabindex="6"
               style="color:#333333" type="text"
               name="position" required
               title="Введите занимаемую должность"
               placeholder="position" value=@Model.Position><br>

        <div style="float: left; height: 90px; width: 90px; margin-left:13px;" id="update">
            <img class="login" required style="float: right; width: auto; max-height: 90px; max-width: 90px;" src="~/Images/@Model.Image_name" />
            <input type="hidden" required name="Image_name" value="@Model.Image_name" />
        </div><br/>
        <input class="button" id="imagevalue0" style="float: left; margin-left: 10px; width: 200px"
               type="button"
               onclick="imagevalue1.click()"
               title="Клик, чтобы выбрать картинку"
               value="Выберите картинку"
               >
        <input class="login"
               style="color: #333333; margin-right: 10px; margin-left: 10px; width: 15px; height: 15px" type="checkbox"
               name="is_admin" title="Установите галочку, если пользователь является админитратором"
               value=@Model.Is_admin checked="@Model.Is_admin">
        <label style="font-family: Veranda; font-size: 12px;">Is Admin?</label><br>

        <input class="button" name="go"
               style="margin-top: 15px; margin-bottom: 10%; color: #ffffff; font-size: 14px; font-family: Verdana"
               tabindex="3" value="Готово" type="submit">
    }
    @using (Ajax.BeginForm("Imageupload", "Account", new AjaxOptions { UpdateTargetId = "update" }, new { @id = "Imageupload", @enctype = "multipart/form-data" }))
    {
        <input type="submit" hidden="true" id="send" />
        <input class="button" hidden="true" id="imagevalue1" style="float: left; margin-left: 10px; width: 200px"
               type="file" required
               name="imagedownload"
               accept="image/*"
               title="Клик, чтобы выбрать картинку"
               onchange="send.click()">
    }
</div>
@Scripts.Render("~/scripts/jquery-3.3.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</body>
</html>

