﻿
@*@{
    ViewBag.Title = "AdminAutorization";
}*@

@*<h2>AdminAutorization</h2>*@

<!DOCTYPE html>

<html>
<head>
    <title>Авторизция</title>
    <style type="text/css">
        .login {
            width: 200px;
            background: #333333;
            padding: 5px;
            border: solid 2px black;
            float: left;
            position: center;
            top: 10px;
        }

        .password {
            width: 200px;
            background: #999999;
            padding: 5px;
            border: solid 2px #333333;
            float: left;
            position: center;
            top: 30px;
        }
    </style>

</head>
<body>
    <div class="login">ЛОГИН</div>
    <div class="password">ПАРОЛЬ</div>
</body>
</html>