﻿@using AdminWeb.Models
@using Microsoft.Ajax.Utilities
@model System.Collections.ObjectModel.ObservableCollection<AdminWeb.Models.DeviceModel>

@using (Ajax.BeginForm("Saveitem", "Files", new AjaxOptions {UpdateTargetId = "message"}))
{
    <table border="1px" bordercolor="#777777">
        <tr>
            <th>Группа</th>
            <th>Подгруппа</th>
            <th>Тип оборудования(куда добавить)</th>
            <th>Тип</th>
            <th>Название</th>
            <th>Характеристика</th>
            <th>Цена</th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                @if (i == 0)
                {
                    <td rowspan="@Model.Count">
                        <select class="changingblockall" name="Block1" >
                            @if (Model[i].Block == "Display") {<option value="Display" selected>Display</option> } else { <option value="Display">Display</option>}
                            @if (Model[i].Block == "Body") {<option value="Body" selected>Body</option> } else { <option value="Body">Body</option>}
                            @if (Model[i].Block == "Typesensor") {<option value="Typesensor" selected>Typesensor</option> } else { <option value="Typesensor">Typesensor</option>}
                            @if (Model[i].Block == "Computer") {<option value="Computer" selected>Computer</option> } else { <option value="Computer">Computer</option>}
                            @if (Model[i].Block == "ExtraDevice") {<option value="ExtraDevice" selected>ExtraDevice</option> } else { <option value="ExtraDevice">ExtraDevice</option>}
                        </select>
                    </td>
                }
                @if (i == 0 && Model[i].Header != "")
                {
                    <td rowspan="@Model.Count"><input type="text" class="changingheadersall" name="Header1" value="@Model[i].Header"/></td>
                }
                @if (Model[i].Header == "")
                {
                    <td><input type="text" class="changingheaders" name="Header1" value="@Model[i].Header"/></td>
                }
                @if (i == 0)
                {
                    <td rowspan="@Model.Count">
                        
                        <div id="checkkek">
                            @if (Model[i].Type.Contains("1"))
                            {
                                <input class="checkboxtype" type="checkbox" name="IS" checked value="1" />
                                <label>Столы</label>       
                            }                              
                            else                           
                            {                              
                                <input class="checkboxtype" type="checkbox" name="IS" value="1" />
                                <label>Столы</label>
                            }
                            @if (Model[i].Type.Contains("2"))
                            {
                                <input class="checkboxtype" type="checkbox" name="IP" checked value="2" />
                                <label>Панели</label>
                            }
                            else
                            {
                                <input class="checkboxtype" type="checkbox" name="IP" value="2" />
                                <label>Панели</label>
                            }
                            @if (Model[i].Type.Contains("3"))
                            {
                                <input class="checkboxtype" type="checkbox" name="SK" checked value="3" />
                                <label>Киоски</label>
                            }
                            else
                            {
                                <input class="checkboxtype" type="checkbox" name="SK" value="3" />
                                <label>Киоски</label>
                            }
                            @if (Model[i].Type.Contains("4"))
                            {
                                <input class="checkboxtype" type="checkbox" name="ST" checked value="4" />
                                <label>Терминалы</label>
                            }
                            else
                            {
                                <input class="checkboxtype" type="checkbox" name="ST" value="4" />
                                <label>Терминалы</label>
                            }
                            <input type="hidden" name="Type1" value="@Model[i].Type" />
                        </div>
                    </td>
                }
                @if (i == 0 && Model[i].Display != "")
                {
                    <td rowspan="@Model.Count"><input type="text" class="changingdisplayall" name="Display1" value="@Model[i].Display"/></td>
                }
                @if (Model[i].Display == "")
                {
                    <td><input type="text" class="changingdisplay" name="Display1" value="@Model[i].Display"/></td>
                }
                    <td id="sendmodel">
                        <input type="text" class="blocks" name="dv[@i].Block" hidden value="@Model[i].Block" />
                        <input type="text" class="headers" name="dv[@i].Header" hidden value="@Model[i].Header" />
                        <input type="text" class="types" name="dv[@i].Type" hidden value="@Model[i].Type" />
                        <input type="text" class="displays" name="dv[@i].Display" hidden value="@Model[i].Display" />
                        <input type="text" class="names" name="dv[@i].Name" />
                    </td>
                <td><textarea class="selectdesc" id="descsel" name="dv[@i].Description"></textarea></td>
                <td><input type="text" class="prices" name="dv[@i].Price"/>
                    <input type="hidden" name="dv[@i].ID" value="0"/></td>
            </tr>
        }

    </table>
    <input class="go" type="submit" hidden />
    <script>
   
    </script>
}
