﻿@model AdminWeb.Models.DeviceModel
<div id="completed">
    @if (Model.Type.Contains("1"))
    {
        <input class="checkboxtype"  type="checkbox" name="IS" checked value="1" />
        <label>Столы</label>
    }
    else
    {
        <input class="checkboxtype"  type="checkbox" name="IS" value="1" />
        <label>Столы</label>
    }
    @if (Model.Type.Contains("2"))
    {
        <input class="checkboxtype"  type="checkbox" name="IP" checked value="2" />
        <label>Панели</label>
    }
    else
    {
        <input class="checkboxtype"  type="checkbox" name="IP" value="2" />
        <label>Панели</label>
    }
    @if (Model.Type.Contains("3"))
    {
        <input class="checkboxtype"  type="checkbox" name="SK" checked value="3" />
        <label>Киоски</label>
    }
    else
    {
        <input class="checkboxtype"  type="checkbox" name="SK" value="3" />
        <label>Киоски</label>
    }
    @if (Model.Type.Contains("4"))
    {
        <input class="checkboxtype"  type="checkbox" name="ST" checked value="4" />
        <label>Терминалы</label>
    }
    else
    {
        <input class="checkboxtype"  type="checkbox" name="ST" value="4" />
        <label>Терминалы</label>
    }
    <input type="hidden" id="changing" name="DeviceModel.Type" value="@Model.Type" />
</div>
@using (Ajax.BeginForm("ChangeType", "Files", new AjaxOptions { UpdateTargetId = "checktypes" }))
{
    <input type="hidden" name="Block"  value="@Model.Block"/>
    <input type="hidden" name="Header" value="@Model.Header" />
    <input type="hidden" name="Display" value="@Model.Display" />
    <input type="hidden" name="Name"   />
    <input type="submit" hidden />
}

