﻿
@using System.Configuration
@using System.ServiceModel.Dispatcher
@using AdminWeb.Models
@using Microsoft.Ajax.Utilities
@model System.Collections.ObjectModel.ObservableCollection<AdminWeb.Models.DeviceModel>

@*<select name="DeviceModel.Block">
        <option value="Display">Дисплеи</option>
        <option value="Body">Корпуса</option>
        <option value="Typesensor">Сенсорный ввод</option>
        <option value="Computer"></option>
        <option value="Extradevice">Доп. оборудование</option>
    </select>*@
@{
    string selectname = "selectname";
    string selecttype = "selecttype";
    string description = "description";
    string price = "price";
    string status = "status";
    string delete = "delete";
    string Type = "1234";
    foreach (var x in ViewBag.Types.Split())
    {
        Type = Type.Replace(x, "");
    }
    string Caption = "";
    foreach (var x in ViewBag.Tittles)
    {
        Caption += x + ", ";
    }
    Caption = Caption.Remove(Caption.Length - 2, 2);
}
<style>
    .b-popup {
        width: 100%;
        min-height: 100%;
        background-color: rgba(0,0,0,0.5);
        overflow: hidden;
        position: fixed;
        top: 0px;
    }
    .alert {
        width: 100%;
        min-height: 100%;
        background-color: rgba(255,20,20,0.5);
        overflow: hidden;
        position: fixed;
        top: 0px;
    }

    .b-container {
        margin: 40px auto 0px auto;
        width: 80%;
        height: 300px;
        padding: 10px;
        background-color: #c5c5c5;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #000;
    }
    .b-alert {
        margin: 40px auto 0px auto;
        width: 200px;
        height: 200px;
        padding: 10px;
        background-color: #c5c5c5;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #000;
    }

    .b-containerdesc {
        position: absolute;
        width: 200px;
        height: 200px;
        padding: 10px;
        background-color: #c5c5c5;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #000;
    }

    #hidebutton, #hidebuttondesc {
        float: right;
        border-radius: 10px;
        padding: 2px;
        border: 0px;
        font-size: 12px;
        color: black;
        width: 20px;
        height: 20px;
        overflow: hidden;
    }

    #popuptext {
        min-height: 140px;
        min-width: 200px;
    }
    .selectdesc {
        height: 15px;
        overflow: hidden;
        resize: none;
        margin: 4px 0px 0px 0px;
    }
    img {
        height: 12px;
        width: 12px;
    }
    tr {
        border: 1px;
    }
</style>

<table border="4px" style="background: #cccccc" bordercolor="#777777">
    <caption>@Caption</caption>
    <tr>
        <th>Группа</th>
        <th>Подгруппа</th>
        <th>Тип оборудования(куда добавить)</th>
        <th>Тип</th>
        <th>Название</th>
        <th>Характеристика</th>
        <th>Цена</th>
    </tr>
    @{var collect = Model.OrderByDescending(t => int.Parse(t.Type)).ToList();
        var blocks = collect.DistinctBy(t => t.Block).ToList();

    }
        @foreach (var u in blocks)
        {//коллекции по блокам
            var collectBlocks = collect.Where(t => t.Block.Contains(u.Block)).ToList();
            var headers = collectBlocks.DistinctBy(t => t.Header).ToList();
            foreach (DeviceModel y in headers)
            {
                <tr>
                    @if (headers.First() == y)
                    {

                        <td class="checkblock" rowspan="@(headers.Count())">
                            <text id="Blocktext" name="DeviceModel.Block">@u.Block</text>
                        </td>
                    }
                    <td>
                        <text id="Headertext" name="DeviceModel.Header">@y.Header</text>
                    </td>
                    <td class="checktypes">
                        <div disabled>
                            @if (y.Type.Contains("1"))
                            {
                                <input class="checkboxtype" disabled type="checkbox" name="IS" checked value="1" />
                                <label>Столы</label>
                            }
                            else
                            {
                                <input class="checkboxtype" disabled type="checkbox" name="IS" value="1" />
                                <label>Столы</label>
                            }
                            @if (y.Type.Contains("2"))
                            {
                                <input class="checkboxtype" disabled type="checkbox" name="IP" checked value="2" />
                                <label>Панели</label>
                            }
                            else
                            {
                                <input class="checkboxtype" disabled type="checkbox" name="IP" value="2" />
                                <label>Панели</label>
                            }
                            @if (y.Type.Contains("3"))
                            {
                                <input class="checkboxtype" disabled type="checkbox" name="SK" checked value="3" />
                                <label>Киоски</label>
                            }
                            else
                            {
                                <input class="checkboxtype" disabled type="checkbox" name="SK" value="3" />
                                <label>Киоски</label>
                            }
                            @if (y.Type.Contains("4"))
                            {
                                <input class="checkboxtype" disabled type="checkbox" name="ST" checked value="4" />
                                <label>Терминалы</label>
                            }
                            else
                            {
                                <input class="checkboxtype" disabled type="checkbox" name="ST" value="4" />
                                <label>Терминалы</label>
                            }
                            <input type="hidden" id="changing" disabled name="DeviceModel.Type" value="@y.Type" />
                        </div>
                        @using (Ajax.BeginForm("ChangeType", "Files", new AjaxOptions { UpdateTargetId = "checktypes" }))
                        {
                            <input name="Block" type="hidden" value="@y.Block" />
                            <input name="Header" type="hidden" value="@y.Header" />
                            <input name="Display" type="hidden" />
                            <input name="Name" type="hidden" />
                            <input type="submit" hidden />
                        }
                    </td>
                    <td>
                        @using (Ajax.BeginForm("SelectNames", "Files", new AjaxOptions { UpdateTargetId = "" }))
                        {
                            <input name="Block" type="hidden" value="@y.Block" />
                            <input name="Type" type="hidden" value="@y.Type" />
                            <input name="Header" type="hidden" value="@y.Header" />
                            <input name="Name" type="hidden" />
                            <input type="submit" hidden />
                        }
                        <div id="@selecttype@y.Block@y.Header.Replace(" ","_")">
                            <select class="selecttype" name="DeviceModel.Display">
                                <option value="" selected disabled hidden>Тип</option>
                                @foreach (DeviceModel device in collectBlocks.Where(t => t.Header.Contains(y.Header)).DistinctBy(t => t.Display).OrderBy(t=>t.Display))
                                {
                                    <option value="@device.Display">@device.Display</option>
                                }
                            </select>
                            <button id="Displaytext">+</button>
                        </div>
                    </td>
                    <td>
                        @using (Ajax.BeginForm("SelectNames", "Files", new AjaxOptions { UpdateTargetId = "selectname" + @y.Block + @y.Header.Replace(" ", "_") }))
                        {
                            <input name="Block" type="hidden" value="@y.Block" />
                            <input name="Type" type="hidden" value="@ViewBag.Types" />
                            <input name="Header" type="hidden" value="@y.Header" />
                            <input name="Display" type="hidden" />
                            <input type="submit" hidden />
                        }
                        <div id="@selectname@y.Block@y.Header.Replace(" ","_")">

                        </div>
                    </td>
                    <td>
                        @using (Ajax.BeginForm("SelectDescription", "Files", new AjaxOptions { UpdateTargetId = "description" + @y.Block + @y.Header.Replace(" ", "_") }))
                        {
                            <input name="Block" type="hidden" value="@y.Block" />
                            <input name="Type" type="hidden" value="@y.Type" />
                            <input name="Header" type="hidden" value="@y.Header" />
                            <input name="Display" type="hidden" />
                            <input name="Name" type="hidden" />
                            <input type="submit" hidden />
                        }
                        <div id="@description@y.Block@y.Header.Replace(" ","_")"></div>
                    </td>
                    <td id="checkmodel">
                        @using (Ajax.BeginForm("SelectPrice", "Files", new AjaxOptions { UpdateTargetId = "price" + @y.Block + @y.Header.Replace(" ", "_") }))
                        {
                            <input name="Block" type="hidden" value="@y.Block" />
                            <input name="Type" type="hidden" value="@y.Type" />
                            <input name="Header" type="hidden" value="@y.Header" />
                            <input name="Display" type="hidden" />
                            <input name="Name" type="hidden" />
                            <input type="submit" hidden />
                        }

                        <div id="@price@y.Block@y.Header.Replace(" ","_")"></div>

                    </td>
                    <td id="checkstatus"><div id="@status@y.Block@y.Header.Replace(" ","_")"><img src="" /></div></td>
                    <td id="delete"><div id="@delete@y.Block@y.Header.Replace(" ","_")"><img src="" /></div></td>
                </tr>

            }
        }
    

</table>

<div class="b-popup" hidden>
    <div class="b-container">
        <button id="hidebutton">X</button>
        <div id="additem" style="overflow:auto">

        </div>
        <input id="Countcheck" type="number" />
        <input type="button" id="savechange" value="Сохранить" disabled/>
        <div id="message" hidden></div>
    </div>
    @using (Ajax.BeginForm("Additem", "Files", new AjaxOptions { UpdateTargetId = "additem" }))
    {
        <input name="Block" type="hidden" />
        <input name="Type" type="hidden" />
        <input name="Header" type="hidden" />
        <input name="Display" type="hidden" />
        <input name="Count" type="number" hidden />
        <input type="submit" hidden />
    }
</div>
<div class="alert" hidden>
    <div class="b-alert">
        <h3 style="float: bottom">Вы уверены, что хотите удалить элемент?</h3>
        <p>Чтобы увидеть изменения нажмите "ОБНОВИТЬ"</p>
        <button style="float: left" id="ok_alert">Да</button>
        <button style="float: right" id="no_alert">Нет</button>
    </div>
</div>
<div class="b-containerdesc" id="desc" hidden>
    <button id="hidebuttondesc">X</button>
    <h4 style="float: left">Характеристика</h4>
    <textarea id="popuptext"></textarea>
</div>



