﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginFile</title>
</head>
<body>
    @using (Html.BeginForm("GetBaseClientManager", "Files"))
    {
        <label>Введите логин и пароль, чтобы получить клиентскую базу</label>
        <br />
        <input type="text" name="login" /><br />
        <input type="password" name="password" />
        <br />
        <input type="submit" name="sub" />
    }
</body>
</html>
