﻿@model string[]
@{
    ViewBag.Title = "Модели оборудования";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Оборудование</title>
    <style>
        .folderbutton {
            border: solid 1px #b3b3b3;
            border-radius: 5px;
            transition-property: border;
            transition-delay: 100ms;
            outline: none;
        }
        .folderbutton:hover {
            border: solid 1px #3aaaf5f3;
        }
    </style>
</head>
<body>
    <label for="viewlist">Обзор</label>
<div id="viewlist">
    @foreach (string name in Model)
    {
        DirectoryInfo di = new DirectoryInfo(name);
        using (Ajax.BeginForm("GetModels", "Files", new AjaxOptions{UpdateTargetId = "viewlist"}))
        {
            <div>
                <input name="path" type="hidden" value="@name"/>
                <button class="folderbutton" type="submit">
                    <img style="margin: 5px" src="~/Icons/folder.png"/>
                    <br/>
                    <text style="text-align: center">@di.Name</text>
                </button>
            </div>
        }
        
    }
</div>
</body>
</html>
