﻿@using AdminWeb.Models
@model System.Collections.ObjectModel.ObservableCollection<DeviceModel>

@foreach (DeviceModel y in Model)
{
    using (Ajax.BeginForm("SaveChanges", "Files", new AjaxOptions { UpdateTargetId = "status" + @y.Block + @y.Header.Replace(" ", "_") }))
    {

        <input type="hidden" name="dv.Block" value="@y.Block" />
        <input type="hidden" name="dv.Header" value="@y.Header" />
        <input type="hidden" name="dv.Type" value="@y.Type" />
        <input type="hidden" name="dv.Display" value="@y.Display" />
        <input class="selectprice" name="dv.Price" type="text" value="@y.Price"/>
        <input type="hidden" name="dv.Name" value="@y.Name" />
        <input type="hidden" name="dv.Description" value="@y.Description" />
        <input type="hidden" name="dv.ID" value="@y.ID" />
        <input type="submit" hidden />
        <input type="hidden" class="method" name="met" value="" />
    }

}
