﻿@using AdminWeb.Models
@model System.Collections.ObjectModel.ObservableCollection<DeviceModel>

<select class="selecttype" name="DeviceModel.Display">
    <option value="" selected disabled hidden>Тип</option>
    @foreach (DeviceModel device in Model)
    {
        <option value="@device.Display">@device.Display</option>
    }
</select>
