﻿@using AdminWeb.Models
@model System.Collections.ObjectModel.ObservableCollection<DeviceModel>
@foreach (DeviceModel y in Model)
{
<textarea class="selectdesc" name="DeviceModel.Description">@y.Description</textarea>
}
