﻿@using AdminWeb.Models
@model System.Collections.ObjectModel.ObservableCollection<DeviceModel>

<select class="selectname" name="DeviceModel.Name">
    <option value="" selected disabled hidden>Название</option>
    @foreach (DeviceModel device in Model.OrderBy(t=>t.Name))
    {
        <option value="@device.Name">@device.Name</option>
    }
</select>