﻿@model System.Collections.ObjectModel.ObservableCollection<string[]>

<ul>
    @foreach(string str in Model[0])
    {
        using (Ajax.BeginForm("GetTable", "Files", new AjaxOptions {UpdateTargetId = "results"}))
        {
            DirectoryInfo directory = new DirectoryInfo(str);
            <li>
                <span class="caret" name="diag">@directory.Name</span>
                <ul class="nested">
                    @foreach (string ftr in Directory.GetFiles(directory.FullName))
                    {
                        FileInfo fi = new FileInfo(ftr);
                        <li>
                            <input type="hidden" name="path" value="@fi.FullName" />
                            <input class="button" name="click" type="submit" value=@fi.Name />
                            <text>Изменено: @fi.LastWriteTime</text>
                        </li>
                    }
                </ul>
            </li>
        }
    }
    @foreach(string str in Model[1])
    {
        using (Ajax.BeginForm("GetTable", "Files", new AjaxOptions { UpdateTargetId = "results" }))
        {
            FileInfo fi = new FileInfo(str);
            <li>
                <input type="hidden" name="path" value="@fi.FullName" />
                <input class="button" name="click" type="submit" value=@fi.Name />
                <text>Изменено: @fi.LastWriteTime</text>
            </li>
        }
    }
</ul>
<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>