﻿
@using System.Collections.ObjectModel
@model string[]

@{
    ViewBag.Title = "RedactorTables";
    
    string path;
}

<!DOCTYPE html>

<html style="background: azure">
<head>
    <title>RedactorTables</title>
    <style>
        ul, #myUL {
            list-style-type: none;
        }

        /* Remove margins and padding from the parent ul */
        #myUL {
            margin: 0;
            padding: 0;
        }

        /* Style the caret/arrow */
        .caret {
            cursor: pointer; 
            user-select: none; /* Prevent text selection */
        }

        /* Create the caret/arrow with a unicode, and style it */
        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

        /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
        .caret-down::before {
            transform: rotate(90deg); 
        }

        /* Hide the nested list */
        .nested {
            display: none;
        }

        /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
        .active {
            display: block;
        }
    </style>
</head>
<body>
<header>
    <div style="float: right">
        <h4>Для отображения изменений, не забывайте нажимать кнопку "ОБНОВИТЬ"!</h4>
    </div>
    <h2>Выберите типы оборудования</h2>
</header>

<footer>
    @using (Ajax.BeginForm("GetTable", "Files", new AjaxOptions {UpdateTargetId = "check"}))
    {
        <div id="main">

            <input class="checkboxtype" type="checkbox" name="IS" value="1"/>
            <label>Столы</label>


            <input class="checkboxtype" type="checkbox" name="IP" value="2"/>
            <label>Панели</label>


            <input class="checkboxtype" type="checkbox" name="SK" value="3"/>
            <label>Киоски</label>

            <input class="checkboxtype" type="checkbox" name="ST" value="4"/>
            <label>Терминалы</label>

            <input type="hidden" name="Type"/>
            <input type="submit" id="kkk" hidden/>
        </div>

    }

    <button style="background: #ff1111" id="refresh">ОБНОВИТЬ</button>
    <div id="check"></div>
</footer>

@Scripts.Render("~/scripts/jquery-3.3.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<script>
    $(function() {
        $(document).on('change',
            '.checkboxtype',
            function() {
                var elements = "";

                if (this.checked) {

                    $(this).parent().children('.checkboxtype:checked').each(function() {

                        elements = elements + this.value;

                    });
                    $(this).parent().children('input:hidden').val(elements);
                } else {
                    $(this).parent().children('input:hidden')
                        .val(this.parentElement.children[8].value.replace(this.value, ''));
                }
                $(this).parent().parent().parent().children('#checkstatus').children().children()
                    .attr('src', '../../Icons/save.png').attr('class', 'checkstatus');

                if ($(this).parent('div').is('#main')) {
                    $('#kkk').click();
                } else {
                    if ($(this).parent('div').is('#checkkek')) {
                        $('.types').val(this.parentElement.children[8].value);
                    } else {
                        changer(this).children()[2].value = this.parentElement.children[8].value;
                    }
                }

            });

        function changer(element) {
            var x = $(element).parent();
            while (!x.is('tr')) {
                x = x.parent();
            }
            return x.children('#checkmodel').children('div').children();
        }

        $(document).on('change',
            '.selecttype',
            function() {

                $(this).parent().parent().next().children()[0].children[3].value = this.value;
                $(this).parent().parent().next().children()[0].children[4].click();


                if ($(this).parent().parent().next().children()[1].children[0].value != "") {
                    $(this).parent().parent().next().next().children()[0].children[3].value = this.value;
                    $(this).parent().parent().next().next().children()[0].children[4].value =
                        $(this).parent().parent().next().children()[1].children[0].value;
                    $(this).parent().parent().next().next().children()[0].children[5].click();
                    $(this).parent().parent().next().next().next().children()[0].children[3].value = this.value;
                    $(this).parent().parent().next().next().next().children()[0].children[4].value =
                        $(this).parent().parent().next().children()[1].children[0].value;
                    $(this).parent().parent().next().next().next().children()[0].children[5].click();
                }
                $(this).parent().parent().parent().children('.checktypes').children().children()
                    .attr('disabled', '');
                $(this).parent().parent().parent().children('#checkstatus').children().children()
                    .attr('src', '').attr('class', '');
                $(this).parent().parent().parent().children('#delete').children().children()
                    .attr('src', '').attr('class', '');
            });
        $(document).on('change',
            '.selectname',
            function() {
                $(this).parent().parent().next().children()[0].children[4].value = this.value;
                $(this).parent().parent().next().children()[0].children[3].value =
                    $(this).parent().parent().prev().children()[1].children[0].value;
                $(this).parent().parent().next().children()[0].children[5].click();
                $(this).parent().parent().next().next().children()[0].children[4].value = this.value;
                $(this).parent().parent().next().next().children()[0].children[3].value =
                    $(this).parent().parent().prev().children()[1].children[0].value;
                $(this).parent().parent().next().next().children()[0].children[5].click();
                $(this).parent().parent().next().next().next().children().children()
                    .attr('src', '../../Icons/ok-mark.png');
                $(this).parent().parent().parent().children('.checktypes').children().children()
                    .removeAttr('disabled');
               
                $(this).parent().parent().parent().children('.checktypes').attr('id', 'checktypes');
                $(this).parent().parent().parent().children('.checktypes').children('form').children()[3].value = this.value;
                $(this).parent().parent().parent().children('.checktypes').children('form').children()[2].value = $(this).parent().parent().prev().children()[1].children[0].value;
                $(this).parent().parent().parent().children('.checktypes').children('form').children()[4].click();
                $(this).parent().parent().parent().children('#delete').children().children()
                    .attr('src', '../../Icons/delete-button.png').attr('class', 'delete');
            
            });
        $(document).on("DOMNodeInserted",'#completed', function() {
            $('#checktypes').removeAttr('id');
        });
      
       
        
        $(document).on('click',
            '#hidebutton',
            function() {
                $('.b-popup').hide();
                $('#savechange').attr('disabled', '');
                $('#message').attr('hidden', '');
            });
        $(document).on('click',
            '#hidebuttondesc',
            function() {
                $(this).parent().hide();
                document.getElementById('changedesc').id = '';
            });
        $(document).on('click',
            '.selectdesc',
            function() {
                $('#desc').css($(this).offset());
                $('#desc').children('textarea').val(this.value);
                this.id = "changedesc";
                $('#desc').show();
                $('#desc').children('textarea').focus();
            });
        $(document).on('change',
            '.selectdesc',
            function() {
                $(this).parent().parent().parent().children('#checkstatus').children().children()
                    .attr('src', '../../Icons/save.png').attr('class', 'checkstatus');
                changer($(this)).children()[6].value = this.value;
            });
        $(document).on('change',
            '#popuptext',
            function() {
                $('#changedesc').val(this.value);
                $('#changedesc').change();
            });
        $(document).on('click',
            '#Blocktext',
            function() {
                clear();
                var t = $('.b-popup').children('form').children();
                t[0].value = this.textContent;
                t[1].value = $(this).parent().next().next().children().children()[8].value;
                t[4].value = "1";
                t[5].click();
                $('#Countcheck').val('1');
                $('.b-popup').show();
            });
        $(document).on('click',
            '#Headertext',
            function() {
                clear();
                var t = $('.b-popup').children('form').children();
                t[0].value = getblock(this).textContent;
                t[2].value = this.textContent;
                t[1].value = $(this).parent().next().children().children()[8].value;
                t[4].value = "1";
                t[5].click();
                $('#Countcheck').val('1');
                $('.b-popup').show();
            });

        function getblock(elem) {
            var t;
            if ($(elem).parent().parent().is('tr')) {
                t = $(elem).parent().parent().children().children()[0];
            } else {
                t = $(elem).parent().parent().parent().children().children()[0];
            }
            while (!$(t).is('#Blocktext')) {
                t = $(t).parent().parent().prev().children().children()[0];
            }
            return t;
        }

        $(document).on('click',
            '#Displaytext',
            function() {
                clear();
                var t = $('.b-popup').children('form').children();
                t[0].value = getblock(this).textContent;
                t[3].value = $(this).prev()[0].value;
                t[2].value = $(this).parent().parent().prev().prev().children()[0].textContent;
                t[1].value = $(this).parent().parent().prev().children().children()[8].value;
                t[4].value = "1";
                t[5].click();
                $('#Countcheck').val('1');
                $('.b-popup').show();
            });
        $(document).on('change',
            '#Countcheck',
            function() {
                var t = $('.b-popup').children('form').children();
                t[4].value = this.value;
                t[5].click();
                $('#savechange').attr('disabled', '');
            });

        function clear() {
            $('.b-popup').children('form').children().val('');
        };

        $(document).on('change',
            '.selectprice',
            function() {
                $(this).parent().parent().parent().parent().children('#checkstatus').children().children()
                    .attr('src', '../../Icons/save.png').attr('class', 'checkstatus');
            });

        $(document).on('click',
            '.checkstatus',
            function() {
                $(this).parent().parent().prev().children('div').children().children('input:submit').click();
            });
        $(document).on('click',
            '.delete',
            function() {
                $(this).attr('id', 'actual_delete');
                $('.alert').show();
            });
        $(document).on('click',
            '#savechange',
            function() {
                $('.go').click();
                $('#message').removeAttr('hidden');
            });
        $(document).on('click',
            '#refresh',
            function() {
                $(this).prev().children().children('input:submit').click();
            });
        $(document).on('click',
            '#ok_alert',
            function() {
                $('#actual_delete').parent().parent().prev().prev().children('div').children().children('.method')
                    .val('delete');
                $('#actual_delete').parent().parent().prev().prev().children('div').children().children('input:submit')
                    .click();
                $('#actual_delete').parent().parent().prev().prev().children('div').children().children('.method')
                    .val('');
                $('#actual_delete').attr('id', '');
                $('.alert').hide();
            });
        $(document).on('click',
            '#no_alert',
            function() {
                $('#actual_delete').attr('id', '');
                $('.alert').hide();
            });

    });
    $(function() {
        $(document).on('change',
            '.changingblockall',
            function() {
                $('.blocks').val(this.value);
                if (checkall())
                    $('#savechange').removeAttr('disabled');
                else
                    $('#savechange').attr('disabled', '');
            });
        $(document).on('change',
            '.changingheadersall',
            function() {
                $('.headers').val(this.value);
                if (checkall())
                    $('#savechange').removeAttr('disabled');
                else
                    $('#savechange').attr('disabled', '');
            });
        $(document).on('change',
            '.changingheaders',
            function() {
                $(this).parent().parent().children('#sendmodel').children('.headers').val(this.value);
                if (checkall())
                    $('#savechange').removeAttr('disabled');
                else
                    $('#savechange').attr('disabled', '');
            });
        $(document).on('change',
            '.changingdisplayall',
            function() {
                $('.displays').val(this.value);
                if (checkall())
                    $('#savechange').removeAttr('disabled');
                else
                    $('#savechange').attr('disabled', '');
            });
        $(document).on('change',
            '.changingdisplay',
            function() {
                $(this).parent().parent().children('#sendmodel').children('.displays').val(this.value);
                if (checkall())
                    $('#savechange').removeAttr('disabled');
                else
                    $('#savechange').attr('disabled', '');
            });
        $(document).on('change',
            '.names',
            function() {
                if (checkall())
                    $('#savechange').removeAttr('disabled');
                else
                    $('#savechange').attr('disabled', '');
            });
        $(document).on('change',
            '.prices',
            function() {
                if (checkall())
                    $('#savechange').removeAttr('disabled');
                else
                    $('#savechange').attr('disabled', '');
            });
        $(document).on('change',
            '#descsel',
            function() {
                if (checkall())
                    $('#savechange').removeAttr('disabled');
                else
                    $('#savechange').attr('disabled', '');
            });

        function checkall() {
            if (!$('.blocks').get().some(t => t.value == '') &&
                !$('.headers').get().some(t => t.value == '') &&
                !$('.displays').get().some(t => t.value == '') &&
                !$('.names').get().some(t => t.value == '') &&
                !$('.prices').get().some(t => t.value == '') &&
                !$('#descsel').get().some(t => t.value == '')) {
                return true;
            } else {
                return false;
            }
            //if ($('.blocks').each(function() {
            //        if ($(this).val()!="") {
            //            return true;
            //        }
            //        return false;
            //    }) &&
            //    $('.headers').each(function() {
            //        if ($(this).val()!="") {
            //            return true;
            //        }
            //        return false;})&&
            //    $('.displays').each(function () {
            //        if ($(this).val() != "") {
            //            return true;
            //        }
            //        return false;
            //    })) {
            //    return true;
            //} else {
            //    return false;
            //}
        };
    });
</script>
</body>
</html>
